include README.rst
include LICENSE.txt
recursive-include signalqueue/fixtures *
recursive-include signalqueue/static *
recursive-include signalqueue/templates *
recursive-include signalqueue/templates/admin *
include signalqueue/settings/redis.conf