include README.rst
include LICENSE.txt
include .gitignore
recursive-include signalqueue/fixtures *
recursive-include signalqueue/static *
recursive-include signalqueue/templates *
recursive-include signalqueue/templates/admin *
recursive-include signalqueue/settings *