{% load i18n signalqueue_status %}
    
    <style type="text/css">
    
        .content-related {
            float: right;
            width: 18em;
            position: relative;
            margin-right: -19em;
        }
        
        .colSM .content-related {
            float: left;
            margin-right: 0;
            margin-left: -19em;
        }
        
        .content-related h3 {
            font-size: 12px;
            color: #666;
            margin-bottom: 3px;
        }
        
        .content-related h4 {
            font-size: 11px;
        }
        
        .content-related .module h2 {
            background: #eee url(data:image/gif;base64,R0lGODlhAQAfAMQAAPf39+3t7efn5+rq6v39/fr6+vDw8PPz8/Pz8uTk5PHx8eHh4e7u7vv7+/j4+Ojo6PX19eLi4vz8/Ozs7Pn5+fb29ubm5v7+/v///wAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAB8AAAUXICaO2HURUlNQDlBBiGIwwTQ8gpVESwgAOw==); bottom left repeat-x;
            color: #666;
        }
        
        #first-non-default-queuelist {
            border-top: #ccc dotted 1px;
            padding-top: 8px;
        }
    
    </style>
    
    <script type="text/javascript" src="{{ queue_javascript }}"></script>
    
    <script type="text/javascript">
        
        $(document).ready(function () {
            
            $("#queue-status-default").queuestatus({
                endpoint: "{% sock_status_url %}"
            });
            
            {% for queue_name, queue in queues.items %}
            $("#queue-status-{{ queue_name }}").queuestatus({
                queuename: "{{ queue_name }}",
                endpoint: "{% sock_status_url %}" 
            });
            {% endfor %}
            
            /// start all status monitors
            $(".queue-status").queuestatus('start');
            
        });
        
        $(window).unload(function () {
            
            /// start all status monitors
            $(".queue-status").queuestatus('stop');
            
        });
        
    </script>
    
    
    <div class="content-related">
        <div class="module" id="signalqueue-status-widgets">
            <h2>{% trans 'Signal Queues' %} ({{ queues|length|add:"1" }})</h2>
            
            <h3>Default Queue:</h3>
            <ul class="actionlist queuelist" id="default-queuelist">
                {% if default.count == -1 %}
                    <li><span class="queue-status" id="queue-status-default"><b>Queue Unresponsive</b></span>
                {% else %}
                    {% if default.count == 0 %}
                        {% if default.ping %}
                            <li><span class="queue-status" id="queue-status-default"><b>Currently Idle</b></span>
                        {% else %}
                            <li><span class="queue-status" id="queue-status-default"><b>Queue Unavailable</b></span>
                        {% endif %}
                    {% else %}
                        <li><span class="queue-status" id="queue-status-default"><b>{{ default.count }}</b> Queued Signals</span>
                    {% endif %}
                {% endif %}
                <br />
                <span style="padding-left: 14px;" class="mini quiet">{% queue_classname 'default' %}</span>
            </ul>
            
            {% for queue_name, queue in queues.items %}
                {% if queue_name != 'default' %}
                    <h3{% if forloop.counter0 == 0 %} id="first-non-default-queuelist"{% endif %}>{{ queue_name|capfirst }}:</h3>
                    <ul class="actionlist queuelist">
                        {% if queue.count == -1 %}
                            <li><span class="queue-status" id="queue-status-default"><b>Queue Unresponsive</b></span>
                        {% else %}
                            {% if queue.count == 0 %}
                                {% if queue.ping %}
                                    <li><span class="queue-status" id="queue-status-default"><b>Currently Idle</b></span>
                                {% else %}
                                    <li><span class="queue-status" id="queue-status-default"><b>Queue Unavailable</b></span>
                                {% endif %}
                            {% else %}
                                <li><span class="queue-status" id="queue-status-default"><b>{{ queue.count }}</b> Queued Signals</span>
                            {% endif %}
                        {% endif %}
                        <br />
                        <span style="padding-left: 14px;" class="mini quiet">{% queue_classname queue_name %}</span>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
            
        </div>
    </div>